
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.retry
admin-openrc.sh     
demo-openrc.sh

.env
*.pem
*.key
*.pub
id_rsa
id_ed25519
secrets.yaml

docker-compose.override.yml  # Often used for local overrides
.docker/

/data/
/mnt/
*.lock
*.pid
*.iso
*.img
*.qcow2

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

site/
